* {
  font-family: Segoe UI, Roboto, sans-serif;
  font-weight: lighter;
}

@keyframes brighten {
	from {filter:brightness(1);}
	to{filter:brightness(1.3);}
}
@keyframes brighten2 {
	from {filter:brightness(1) saturate(0);}
	to{filter:brightness(1.3) saturate(0);}
}
.window_close {
    background-image: none;
    background: linear-gradient(rgb(255 179 179) 0%, rgb(206 95 95) 49%, rgb(235, 50, 50) 50%, rgb(171 142 142) 100%);
    box-shadow: 1px 1px 0px white inset, -1px -1px 0px #ffbcbc inset;
    /* border-image: linear-gradient(white, #864141) 30 stretch; */
    border-style: solid;
    border-width: 1px;
    border-color: rgb(111 50 50);
    background-clip: padding-box;
    /* color: white; */
    /* text-shadow: 0px 0px  rgb(150,150,150); */
    /* -webkit-text-stroke: 2px #818181; */
    color: white;
    text-shadow: -1px -1px 0 #797575, 1px -1px 0 #797575, -1px 1px 0 #797575, 1px 1px 0 #797575;
    text-align: center;
    font-size: 14px;
    width: 54px;
    height: 18px;
    margin-top: -12px;
}
.window_close:hover {
	animation:brighten 0.3s linear;
	animation-fill-mode:forwards;
	background-position:0px 0px;
}
.window_close:active {
	filter:brightness(0.8);
	background-position:0px 0px;
}
.window_close::after { content: "x"; color: white; }
.window_header {
    border-image: none;
    backdrop-filter: blur(2px);
    background: linear-gradient(45deg,  rgba(255,255,255,0.15), rgba(255,255,255,0.4), rgba(173,0,255,0.1),rgba(173,0,255,0.1),rgba(173,0,255,0.1), rgba(255,255,255,0.3), rgba(173,0,255,0.1));
    border: 1px solid rgb(60 0 74);
    color: black;
    border-radius: 4px 4px 0px 0px;
    text-shadow: 0px 0px 4px white;
    height: 28px;
    font-size: 14px;
    font-family: "Segoe UI", Tahoma, sans-serif;
    box-shadow: 1px 1px 2px white inset, -1px -1px 2px white inset;
}
.window_body {
    border-image: url(https://files.catbox.moe/ttk61p.png) 0 6 6 / 0px 4px 6px / 0 stretch;
    background-clip: content-box;
    border-style: solid;
    border-color: black;
    backdrop-filter: blur(3px) hue-rotate(
1deg);
    border-width: 3px;
	background: linear-gradient(white 0%, rgb(240,240,240) 75%, rgb(200,200,200) 76%, rgb(255,255,255) 100%);
}
::-webkit-scrollbar {
  width: 12px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2px;
  border-top: 10px solid gray;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(207, 207, 207, 1) 69%, rgba(189, 189, 189, 1) 74%, rgba(189, 189, 189, 1) 76%);
  border: 1px solid gray
}
#chat_send {
	background-image:url("https://files.catbox.moe/qgdpu4.png");
}

#start_button {
    background-image: url("https://files.catbox.moe/qgdpu4.png");
    padding-left: 7px;
    margin-left: -10px;
    width: 33px;
    z-index: -1;
    background-size: 100px 100px;
    background-position: -66px 0px;
}
div#start_button:hover {
    background-position: -66px -33px;
}
div#start_button:active {
    background-position: -66px -66px;
}
#chat_bar {
    background-image: none;
    background: linear-gradient(rgba(255,255,255,0.6) 0%, rgba(150,150,150,0.5) 50%, rgba(175,0,255,0.5));
}
#content {
    /* background-color: #452066; */
    background-image: url(img/desktop/logo.png), url(img/desktop/bg.png),url(https://files.catbox.moe/1mr3x7.png);
    background-position: top right, center,center;
    background-size: auto, auto, cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#chat_bar {
    background-image: none;
    background: linear-gradient(rgba(255,255,255,0.6) 0%, rgba(150,150,150,0.5) 50%, rgba(175,0,255,0.5));
}
#chat_log_button {
    filter: saturate(0);
	opacity: 0.7;
}
#chat_log_button:hover {
	background:auto;
	animation:brighten2 0.3s linear;
	animation-fill-mode:forwards;
}
#chat_log_button:active {
	background:auto;
	filter:brightness(0.75);
}
#chat_tray {
    filter: saturate(0) brightness(1.5);
    opacity: 0.5;
}
#page_login {
    background-color: #8b5adc;
    background-image: url("img/logon/logo.png"), url("https://files.catbox.moe/f2gsv6.png");
    background-position: calc(50% + 122px) 27%, center;
    background-size: auto, 100% 100%;
    background-repeat: no-repeat;
	background-attachment:fixed;
}
#login_go {
    left: 185px;
    top: 24px;
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("https://files.catbox.moe/89va43.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
#login_card {
    background-image: none;
    width: 353px;
    height: 70px;
    position: absolute;
    top: calc(50% + 70px);
    left: calc(50% - 175px);
    margin-left: 20px;
    margin-top: -35px;
    box-sizing: border-box;
}
#start_menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 30px;
    left: 95px;
    width: 300px;
    height: 500px;
    border-image: url("https://files.catbox.moe/e3rn3v.png") 64 59 40 59 / 64px 59px 40px 59px;
    box-shadow: 2px 2px 4px #0004;
    border-top-right-radius: 7px;
    image-rendering: pixelated;
    z-index: 10000;
}
#start_menu_body {
    position: absolute;
    top: 64px;
    left: 2px;
    bottom: 40px;
    right: 2px;
    padding-top: 6px;
    background: linear-gradient(to bottom, transparent 2px, white 2px),white;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
#start_menu_vault {
    position: absolute;
    bottom: 4px;
    right: 8px;
    width: 68px;
    height: 32px;
    border-radius: 3px;
    background: linear-gradient(rgb(198 198 198) 0%, rgb(100, 100, 100) 50%, rgb(25 25 25) 51%, rgb(89, 89, 89));
    box-shadow: 2px 2px 5px #ffffff70 inset, -2px -2px 5px #ffffff8a inset;
    cursor: pointer;
	text-align:center;
line-height:32px;
}
.start_menu_item_name {
	font-weight:normal;
}
#start_menu_name {
	font-weight:normal;
	text-shadow:none;
	font-family:"Segoe UI", Roboto, sans-serif;
}
#start_menu_pfp {
	left:initial;
    right:8px;
}
#start_menu_vault::after { content: "ðŸ”’ï¸Ž"; color: white; }
.xp_textbox, #login_error, #login_readme, #login_name, #login_room {
    position: absolute;
    padding: 4px 3px;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 6px #000000ab;
    outline: none;
    background: #fff;
    color: #000;
}
.xp_bubble, .bubble{
    background: linear-gradient(white 0%, rgb(240,240,240) 75%, rgb(200,200,200) 76%, rgb(255,255,255) 100%);
}
.bonzi_name, .bonzi_tag {
    border-style: solid;
    border-width: 4px 12px 4px 0;
    border-radius: 9px;
    border: gray solid 1px;
    padding: 8px;
    position: absolute;
    background: linear-gradient(white 0%, rgb(240,240,240) 75%, rgb(200,200,200) 76%, rgb(255,255,255) 100%);
    font-size: 12px;
    color: #000;
    max-width: 300px;
    overflow: hidden;
}